<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Picture Frame</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/styles/styles.css"></link>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Crop the image</h5>
            </button>
        </div>
        <div class="modal-body">
            <div class="img-container">
            <img id="image" src="{{ photo }}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="rotate">Rotate</button>
            <button type="button" class="btn btn-primary" id="crop">Crop</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="delete">Delete</button>
        </div>
    </div>

    <form id="hidden-crop-form" form action="/crop" method="post">
        <label for="image"></label>
        <input type="text" id="image" name="image" value="{{ photo }}">
        <label for="x"></label>
        <input type="number" id="x" name="x">
        <label for="y"></label>
        <input type="number" id="y" name="y">
        <label for="width"></label>
        <input type="number" id="width" name="width">
        <label for="height"></label>
        <input type="number" id="height" name="height">
        <label for="rotate"></label>
        <input type="number" id="rotate" name="rotate">
    </form>

  <script src="https://unpkg.com/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/scripts/crop.js"></script>
</body>
</html>